@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Email Verification And Send</h1>
    <p class="lead">ASP.NET MVC Email Verification using by Cobisi, and Email Send using by MailDrill ...</p>
</div>

<div class="row">
    
</div>