
@{
    ViewBag.Title = "Page Index";
}

<div class="jumbotron">
    <h1>@ViewBag.DomainName</h1>
    <p class="lead">@ViewBag.DomainUrl</p>
    <p class="lead">@ViewBag.PageName</p>
    <p class="lead">@ViewBag.PageList</p>
</div>

