@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Date Time And PDF Generate.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Date Time</h2>
        <p></p>
    </div>
    <div class="col-md-6">
        <h2>PDF Generate</h2>
        <p>
            <a href="@Url.Action("PDFByRazorPDF", "Home")">Download RazorPDF</a>
        </p>
        <p>
            <a href="@Url.Action("PDFByRotativa", "Home")">Download Rotativa PDF</a>
        </p>
    </div>
</div>