.grid {
    font-family: "Segoe UI Semibold",Arial;
    font-size: 10pt;   
    width: 100%;
    background-color:#ffffff;
}

    .grid table {
        width: 100%;
        border-collapse: collapse;
    }

        .grid table th {
            border: 1px solid #ededed;
            height: 30px;
            color: #FFFFFF;
            background-color: #1E82CC;
            padding: 0px 5px 0px 5px;
        }

        .grid table td {
            border: 1px solid #ededed;
            height:20px;
            line-height:20px;
        }

        .grid table tbody tr:hover td {
            border: 1px solid #ededed;
            height:20px;
            line-height:20px;
            background-color: #ededed;
        }

.gridbutton {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;    
    border: 1px solid #1E82CC;
    background-color: #1E82CC;
    color: #FFFFFF;
    padding: 4px 6px 4px 6px;
    margin-left: 1px;
    margin-right: 1px;
    width: 60px;
}

    .gridbutton:hover {
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 10pt;
        border: 1px solid #1E82CC;
        background-color: #12507d;
        padding: 4px 6px 4px 6px;
        cursor: pointer;
        margin-left: 1px;
        margin-right: 1px;
        width: 60px;
    }

#editcolumn {
    width: 62px;
    text-align: center;
}

#deletecolumn {
    width: 62px;
    text-align: center;
}