.button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;    
    border: 1px solid #1E82CC;
    background-color: #1E82CC;
    color: #FFFFFF;
    padding: 4px 6px 4px 6px;
}

    .button:hover {
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: 10pt;
        border: 1px solid #1E82CC;
        background-color: #12507d;
        padding: 4px 6px 4px 6px;
        cursor: pointer;
    }


.textbox {
    text-align: left;
    border: 1px solid #c0c0c0;
    height: 20px;
    width: 230px;
}

.textboxmultiline {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
    height: 20px;
    width: 230px;
}