.pager {
    margin-top: 10px;
    overflow: auto;
    background-color: #ffffff;
    padding: 4px 0px 4px 0px;
}

    .pager input[type="button"][disabled="disabled"] {
        border: 1px solid #cccccc;
        background-color: #c0c0c0;
        font-size: 11px;
        width: 30px;
        color: #000000;
        margin: 0px 1px 0px 1px;
        padding: 3px 0px 3px 0px;
        cursor: not-allowed;
    }

.pagerbutton[type="button"] {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-size: 11px;
    width: 30px;
    color: #292421;
    margin: 0px 1px 0px 1px;
    padding: 3px 0px 3px 0px;
}

    .pagerbutton[type="button"]:hover {
        border: 1px solid #cccccc;
        background-color: #c0c0c0;
        font-size: 11px;
        width: 30px;
        color: #000000;
        margin: 0px 1px 0px 1px;
        padding: 3px 0px 3px 0px;
        cursor: pointer;
    }

.selectedbutton {
    border: 1px solid #cccccc;
    background-color: #5f5f5f;
    font-size: 11px;
    width: 30px;
    color: #ffffff;
    margin: 0px 1px 0px 1px;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}