
.modalbackground {
    background-color: #000000;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1001;
    filter: alpha(opacity=40);
    opacity: 0.5;
}

.popup {
    display: none;
    border:4px solid #1E82CC;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;
    background-color: #ffffff;
    z-index: 2000;
    overflow: auto;
    opacity: 1.0;
    width:auto;
}

    .popup table {
        width: 100%;
        border-collapse: collapse;
    }

        .popup table th {
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            color: #FFFFFF;
            background-color: #1E82CC;
            text-align:left;
            vertical-align:middle;
            cursor:pointer;
        }

            .popup table th a {
                float: right;
                color: #FFFFFF;
                cursor: pointer;
            }

        .popup table td {
            height: 30px;
            line-height: 20px;
            vertical-align: middle;
        }

            .popup table td:first-child {
                padding-left: 20px;
                text-align: right;
            }

            .popup table td:last-child {
                padding-right: 20px;
                padding-left: 5px;
                text-align: left;
            }
