@{
    ViewBag.Title = "Internal Server Error Occured(500)";
}

<div class="jumbotron">
    <h1>500</h1>
    <p class="lead"><b>Sorry! </b> Internal Server Error Occured. <br /> We are facing some problem now, please comeback after a few minutes back </p>
</div>

<div class="row">
    <p>
        <a href="javascript:void(0)" onclick="window.history.go(-1)"> Or please, Click here to return to the previous page </a>
    </p>
</div>