@{
    ViewBag.Title = "Tree View";
}

<h2>Tree View Demo Like iBaax Property Email Blast</h2>

<div class="row">
    <div ng-app="TreeViewApp" class="col-md-12">

        <div ng-controller="TreeViewController">
            <ul>
                <li ng-repeat="country in treeViews">
                    <span>Country Id: {{country.Id}}</span><span> Country Name: {{country.Name}}</span>
                    <ul>
                        <li ng-repeat="state in country.Details">
                            <span>State Id: {{state.Id}}</span><span> State Name: {{state.Name}}</span>
                            <ul>
                                <li ng-repeat="city in state.Details">
                                    <span>City Id: {{city.Id}}</span><span> City Name: {{city.Name}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                </li>
            </ul>
        </div>

        </div>
    </div>

<script src="~/Scripts/App/TreeView.js"></script>
