@{
    ViewBag.Title = "Home Page";
}

<div id="">
    

    
</div>

<script type="text/javascript">

    $(document).ready(function() {

        var getUrl = 'http://localhost:3891/api/Category/GetAll';
        var model = {};
        model.CategoryId = 1;
        model.Name = "ABC";

        //var paramValue = JSON.stringify({ model: model });
        //var paramValue = JSON.stringify({ id: 1 });

        $.ajax({
            url: getUrl,
            type: 'POST',
            dataType: 'application/json',
            //data: paramValue,
            //contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
            },
            success: function (result) {
                console.log(result);

            },
            error: function (objAjaxRequest, strError) {
                var respText = objAjaxRequest.responseText;
                var messageText = respText;
                console.log(messageText);
            }

        });

        //$.getJSON(getUrl)
        //  .done(function (data) {
        //      // On success, 'data' contains a list of products.
        //      console.log(data);
        //  });

    });

</script>